body {
    font-family: monospace, sans-serif;
    color: #ffffff; /* Text color */

}

.container {
    position: absolute;
    display: block;
    padding: 40px 55px;
    margin-left: 10%;
    margin-top: 20px;
    box-sizing: border-box;
    width: 85%;
    height: 85%;
    border-radius: 45% 35% 45% 35%;
    box-shadow: 3px 6px 6px rgb(10, 1, 77);
    background: linear-gradient(90deg, rgba(10, 1, 77, 0.78) 40%, rgba(65, 25, 143, 0.97) 30%);;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    color: #050505;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 253, 253, 0.91);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    color: #050505;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #251b1b;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

input[type="number"]:hover {
    border: 1px solid green;
}

button[type="submit"] {
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


.total-price {
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    border: 2px solid green;
    border-radius: 8px;
    background-color: #f0faff; /* Light blue background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


