/* Global styles */
/* Tailwind CSS base */
@tailwind base;

/* Global Body Styles */
body {
    /* Background Image and Colors */
    background-image: url('../assets/colorful-skull-ai-5120x2880-15999.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; /* Text color */
    font-family: 'Arial', sans-serif;
}

/*Title Styles */
h1 {
    font-size: 3em;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: #007bff;
    border-radius: 2px;
    transition: width 0.3s ease;
}

h1:hover::after {
    width: 150px;
}
/* Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

/* Event List Styles */
.event-list {
    list-style: none;
    padding: 0;
}

.event-item {
    background-color: #fff; /* White background for event items */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-item:hover {
    background-color: #cee3de;
     cursor: pointer;
}

/* Event Title Styles */
.event-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

/* Event Actions Styles */
.event-actions {
    text-align: right;
}

/* Button Styles */
.btn {
    display: inline-block;
    background-color: #31a6c4;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Hover Effect for Buttons */
.btn:hover {
    background-color: #0056b3; /* Darker color on hover */
}

/* Additional Fancy Button Styles */
/*
    Button styles using scc and FontAwesome
    Class name : class="effect effect-5"
*/


.effect {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #22A699;
  font: {
    family: 'Roboto', sans-serif; /* put your font-family */
    size: 18px;
  }
  padding: 20px 0px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
}


.effect.effect-5 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f054";
    font-family: FontAwesome;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba(#fff,0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }

   &:hover {
    text-decoration: none;
    text-indent: 30px;
    background-color: #003C43;
    color : #fff;


    &:before {
      text-decoration: none;
      transform: scale(1,1);
      text-indent: 0;
      color : #fff;
    }
  }
}
